<app-header></app-header>




<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="../../../assets/img/image1.png" width="100%">
            </div>
            <div class="col-2">
                <div class="form-container">
                    <div class="form-btn">
                        <span>Sign In</span>   
                    </div>
                    <form id="regForm">
                        <input type="text" placeholder="Username">
                        <input type="email" placeholder="Email">
                        <input type="password" placeholder="password">
                        <a routerLink="/"><button type="submit" class="btn">Register</button></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>