<app-header></app-header>




<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="../../../assets/img/image1.png" width="100%">
            </div>
            <div class="col-2">
                <div class="form-container">
                    <div class="form-btn">
                        <span>Sign In</span>   
                    </div>
                    <form id="regForm" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
                        <input type="text" placeholder="Username" ngModel name="username" required>
                        <input type="email" placeholder="Email" ngModel name="email" required>
                        <input type="password" placeholder="password" ngModel name="password" required minlength="6">
                        <input type="password" placeholder="Re-Enter password" ngModel name="repassword" required minlength="6">
                        <button type="submit" class="btn" [disabled] ="!authForm.valid">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>