<app-header></app-header>
<div class="container" style="margin-top: 10px;">
    <div class="row">
        <div class="col">
            <h3>Manage Users</h3>
            <hr>
        </div>
    </div>


    <div class="container-edit" style="margin-top: 10px;" *ngIf="isEdit">
        <form>
            <div class="form-row">
                <div class="col">
                    <h3>Edit User</h3>
                    <hr>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group"><label>User Id</label></div>
                    <input class="form-control" type="text" name="userId" [(ngModel)]="userId" disabled></div>
                <div class="col">
                    <div class="form-group"><label>Name</label></div>
                    <input class="form-control" type="text" name="userName" [(ngModel)]="userName" disabled></div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group"><label>Address</label></div>
                    <input class="form-control" type="text" name="userAddress" [(ngModel)]="userAddress.addressL3" disabled></div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group"><label>phone</label></div>
                    <input class="form-control" type="text" name="userPhone" [(ngModel)]="userPhone" disabled></div>
                <div class="col">
                    <div class="form-group"><label>DOB</label></div>
                    <input class="form-control" type="text" name="dob"></div>
            </div>
            <div class="form-row">
                <div class="col"><label>Status</label>
                    <div class="dropdown">
                        <select (change)="selectValue($event)">
                            <option value="active">Active</option>
                            <option value="deactive">Dective</option>
                        </select>
                    </div>
                </div>
                <div class="col"></div>
            </div>
            <div class="form-row">
                <div class="col" style="margin-top: 10px;">
                    <button class="btn btn-primary" type="button" (click)="updateOrder()">Save</button>
                    <button class="btn btn-primary" type="button" (click)="cancel()" style="margin-left: 34px;">Cancel</button></div>
            </div>
        </form>
    </div>


    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>User Id</th>
                            <th>User Name</th>
                            <th>Address</th>
                            <th>Contact Number&nbsp;</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor = "let item of user">
                            <td>{{item.userId}}</td>
                            <td>{{item.userName}}</td>
                            <td>{{item.userAddress}}</td>
                            <td>{{item.userPhone}}</td>
                            <td><button class="btn btn-primary" type="button" (click)="editUser(item)">Edit</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
