<app-header></app-header>


<div class="about">
    <div class="inner-container">
        <h1>About Us</h1>
        <p class="text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
             when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
        <div class="service">
            <span>Fast Shipping</span>
            <span>Free Shipping</span>
            <span>Good Coustommer Service</span>
        </div>
    </div>
</div>

<app-footer></app-footer>