<app-header></app-header>
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>main</title>
</head>

<body>
    <div class="container" style="margin-top: 10px;">

        <div class="row">
            <div class="col">
                <h2>Manage Products</h2>
                <hr>
            </div>
        </div>

        <div class="div" *ngIf="!isedit; else elseBlock">
            <div class="div" >
                <h2 class="info">{{message}}</h2>
            </div>
            <form>
                <div class="form-row" style="margin: 0px;margin-top: 10px;margin-bottom: 5px;">
                    <div class="col">
                        <h4>Add Product</h4>
                        <hr>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="form-group"><label>SKU</label></div>
                        <input class="form-control" type="text" name="sku" required [(ngModel)]="sku"></div>
                    <div class="col">
                        <div class="form-group"><label>Name</label></div>
                        <input class="form-control" type="text" name="name" required [(ngModel)]="name"></div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="form-group"><label>Price</label></div>
                        <input class="form-control" type="text" name="price" required [(ngModel)]="price"></div>
                    <div class="col">
                        <div class="form-group"><label>Catogory</label></div>
                        <input class="form-control" type="text" name="category" required [(ngModel)]="category"></div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="form-group"><label>Description</label>
                            <textarea class="form-control" name="description" required [(ngModel)]="description"></textarea></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label>Select Image</label>
                        </div>
                        <input type="file" name="inputFile" (change)="chooseFile($event)">
                    </div>
                    <div class="col">
                        <div class="form-group">
                           
                        </div>
                    </div>
                </div>
                <div class="form-row mt-1">
                    <div class="col"><button class="btn btn-primary" (click)="createItem()" type="button"  >Add Product</button></div>
                    <div class="col"></div>
                </div>
            </form>
        </div>






        <div class="row">
            <div class="col">
                <hr>
                <h3>Product Details</h3>
                <div class="row">
                    <div class="col">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>SKU</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Catogory</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor = "let item of product">
                                        <td>{{ item.sku }}</td>
                                        <td>{{ item.Productname }}</td>
                                        <td>{{ item.price }}</td>
                                        <td>{{ item.category }}</td>
                                        <td><a (click)="EditItem(item)"><button class="btn btn-primary" type="button">Edit</button></a><a (click)="deleteProduct(item.id)"><button class="btn btn-danger" type="button">Delete</button></a></td>                                        
                                    </tr>
                        
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ng-template #elseBlock>
            <div class="container">
                <div class="div">
                    <h2 class="info">{{message}}</h2>
                </div>
                <form >
                    <div class="form-row" style="margin: 0px;margin-top: 10px;margin-bottom: 5px;">
                        <div class="col">
                            <h4>Edit Product</h4>
                            <hr>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col"> 
                            <div class="form-group"><label>SKU</label></div>
                            <input class="form-control" type="text" name="editsku" required [(ngModel)]="sku" ></div>
                        <div class="col">
                            <div class="form-group"><label>Name</label></div>
                            <input class="form-control" type="text" name="editname" required [(ngModel)]="Productname"></div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group"><label>Price</label></div>
                            <input class="form-control" type="text" name="price" required [(ngModel)]="price"></div>
                        <div class="col">
                            <div class="form-group"><label>Catogory</label></div>
                            <input class="form-control" type="text" name="category" required [(ngModel)]="category"></div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group"><label>Description</label>
                                <textarea class="form-control" name="description" required [(ngModel)]="description"></textarea></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group"><label>Select Image</label></div>
                            <input type="file"></div>
                        <div class="col">
                            <div class="form-group">
                               
                            </div>
                        </div>
                    </div>
                    <div class="form-row mt-1">
                        <div class="col"><button class="btn btn-primary" type="button" (click)="updateRecord()" >Save Product</button></div>
                        <div class="col"><button class="btn btn-primary" type="button" (click)="cancel()">Cancel</button></div>
                    </div>
                </form>
            </div>
        </ng-template>


    </div>
</body>

</html>

<router-outlet></router-outlet>