<app-header></app-header>



 <div class="small-container"> 
    <div class="row row-2">
        <h2>All Products</h2>
        <select>
            <option value="">Default</option>
            <option value="">Short by price</option>
            <option value="">Short by rating</option>
            <option value="">Short by popularity</option>
        </select>
    </div>
    <div class="row row-2">
        <div   *ngFor="let product of featured_product" class="col-4">
            <img src="{{product.img}}" alt="" (click)="selectProduct(product.id)">
            <h4>{{ product.product_name}}</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>{{product.price}}</p>
        </div>
    </div>
    <div class="page-btn">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>&#8594;</span>
    </div>
</div>


<app-footer></app-footer>