<div class="container">
    <div class="navbar">
        <div class="logo">
            <img src="/../../../assets/img/logo.png" width="125px">
    
        </div>
        <nav>
            <ul id="menuItem">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/products"  >Products</a></li>
                <li><a routerLink="/abut">About</a></li>
                <li><a routerLink="/login"  >Login</a></li>
                <li><a routerLink="/sign"  >Sign In</a></li>
            </ul>
        </nav>
        <a routerLink="/cart"><img src="../../../assets/img/cart.png" width="30px" height="30px"></a>
        <img src="../../../assets/img/menu.png" class="menu-icon" onclick="menutoggle()"  width="30px" height="30px">
    </div>
</div>



 <div class="small-container"> 
    <div class="row row-2">
        <h2>All Products</h2>
        <select>
            <option value="">Default</option>
            <option value="">Short by price</option>
            <option value="">Short by rating</option>
            <option value="">Short by popularity</option>
        </select>
    </div>
    <div class="row row-2">
        <div   *ngFor="let product of featured_product" class="col-4">
            <img src="{{product.img}}" alt="" (click)="selectProduct(product.id)">
            <h4>{{ product.product_name}}</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>{{product.price}}</p>
        </div>
    </div>
    <div class="page-btn">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>&#8594;</span>
    </div>
</div>


<!-- -----footer------>

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Downlord Our App</h3>
                <p>Downlord App for Android and iso mobile phone</p>
                <div class="app-logo">
                    <img src="../../../assets/img/play-store.png">
                    <img src="../../../assets/img/app-store.png">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="../../../assets/img/logo-white.png">
                <p>Our Purpose Is To Sustainably Make the Pleasure and Benefits of Sports Accessible to the many.</p>
            </div>
            <div class="footer-col-3">
                <h3>useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Posts</li>
                    <li>Return policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>YouTube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copy">Copyright 2020 @Ravind</p>
    </div>
</div>