<div class="container">
    <div class="navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="logo">
            <img src="/../../../assets/img/cover.png" width="125px">
    
        </div>
        <nav>
            <ul id="menuItem">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/products"  >Products</a></li>
                <li><a routerLink="/abut">About</a></li>
                <li *ngIf="!islogin"><a routerLink="/login"  >Login</a></li>
                <li *ngIf="!islogin"><a routerLink="/sign"  >Sign In</a></li>
                <li *ngIf="islogin"><a routerLink="/sign"  >Log Out</a></li>
            </ul>
        </nav>
        <a routerLink="/cart"><img src="../../../assets/img/cart.png" width="30px" height="30px"></a>
        <img src="../../../assets/img/menu.png" class="menu-icon" onclick="menutoggle()"  width="30px" height="30px">
    </div>
</div>

