
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>edit users</title>
</head>

<body>
    <div class="container" style="margin-top: 10px;">
        <form>
            <div class="form-row">
                <div class="col">
                    <h3>Edit Product</h3>
                    <hr>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group"><label>SKU</label></div><input class="form-control" type="text"></div>
                <div class="col">
                    <div class="form-group"><label>Name</label></div><input class="form-control" type="text"></div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group"><label>id</label></div><input class="form-control" type="text" value="{{id}}"></div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group"><label>Description</label><input class="form-control" type="text"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group"><label>Price</label></div><input class="form-control" type="text" ></div>
                <div class="col">
                    <div class="form-group"><label>DOB</label></div><input class="form-control" type="text"></div>
            </div>
            <div class="form-row">
                <div class="col"><label>Status</label><input class="form-control" type="text"></div>
                <div class="col"></div>
            </div>
            <div class="form-row">
                <div class="col" style="margin-top: 10px;"><button class="btn btn-primary" type="button">Save</button></div>
            </div>
        </form>
    </div>

</body>

</html>
