<app-header></app-header>



<!-- --------------Cart items details----------- -->
<div>
    <div class="small-container cart">
        <table >
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
            <tr *ngFor="let item of cart">
                <td>
                    <div class="cart-info">
                        <img src="" alt="">
                        <div>
                            <p>{{item.name}}</p>
                            <small>{{item.price}}</small><br>
                            <a href="">Remove</a>
                        </div>
                    </div>
                </td>
                <td><input type="number" value={{item.qnt}}></td>
                <td>$<label>{{item.tot}}</label></td>
            </tr>
            
        </table>
    
        <div class="total-price">
            <table>
                <tr>
                    <td>Subtotal</td>
                    <td>$156.99</td>
                </tr>
                <tr>
                    <td colspan="2"><button class="btn btn-primary" (click)="checkout(20)">check out</button></td>
                </tr>
               <!-- <tr>
                    <td>Total</td>
                    <td>$1000.99</td>
                </tr>  -->
            </table>
            
        </div>
        
    </div>
</div>


<app-footer></app-footer>