<app-header></app-header>



<!-- --------------Cart items details----------- -->

<div class="small-container cart">
    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
        <tr >
            <td>
                <div class="cart-info">
                    <img src="" alt="">
                    <div>
                        <p>....</p>
                        <small>$$$$</small><br>
                        <a href="">Remove</a>
                    </div>
                </div>
            </td>
            <td><input type="number" value="1"></td>
            <td>$</td>
        </tr>
        
    </table>

    <div class="total-price">
        <table>
            <tr>
                <td>Subtotal</td>
                <td>$156.99</td>
            </tr>
            <tr>
                <td>Tax</td>
                <td>$99.99</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>$1000.99</td>
            </tr>
        </table>
        
    </div>
    
</div>

<app-footer></app-footer>